img {
   width: 20%; // current width
   height: auto; // current height
}

@media (max-width:767px){
 img {
   width: 20%; // new width for screen <768px
   height:auto; // new height for screen <768px
 }
}


.icons {
	font-size: 25px;
	padding: 0px 10px;
}